html {
  scroll-behavior: smooth;
}

.nav-container {
  height: min-content;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #3dbfd5;
}

.nav-item {
  padding-left: 20px;
}

.header {
  position: relative;

  &__logo-box {
    width: max-content;
  }

  &__logo {
    img {
      width: 5rem;
      height: 5rem;
    }
  }
}

.navbar-nav {
  margin-left: auto;
}

.navbar-back {
  background-color: white;
  width: 100%;
  height: 5rem;
}

.main-header {
  width: 100%;
  height: auto;
  background-color: #eeeeee;
  padding: 10rem 0 0 0;

  @include respond(md) {
    padding-top: 8rem;
  }

  &__introduction {
    display: grid;
    grid-template-columns: 1fr, 2fr, minmax(1fr, 20rem), minmax(1fr, 10rem);
    grid-template-rows: 1fr, 2fr, minmax(1fr, 20rem), minmax(1fr, 10rem);
    height: auto;

    @include respond(lg) {
      display: flex;
      flex-direction: column;
    }
  }

  &__portrait {
    width: 30rem;
    grid-column: 1 / 3;
    grid-row: 1 / 3;

    @include respond(lg) {
      width: 25rem;
    }
    @include respond(sm) {
      order: 2;
      width: 100%;
      padding: 1rem;
    }
  }

  &__text-box {
    max-width: 50rem;
    height: min-content;
    background-color: white;
    grid-column: 2 / 4;
    grid-row: 2 / 4;
    z-index: 2;
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    margin-top: -10%;

    @include respond(xlg) {
      width: 34rem;
    }

    @include respond(lg) {
      max-width: 80%;
      margin-top: -30%;
      margin-bottom: 5rem;
    }

    @include respond(md) {
      margin-top: -45%;
    }

    @include respond(sm) {
      order: 1;
      max-width: 100%;
      margin: 0;
    }

    h4 {
      @include respond(md) {
        font-size: 1rem;
      }
    }

    p {
      font-size: 2rem;
      padding: 3rem 0;
      @include respond(md) {
        font-size: 1.3rem;
        padding: 1rem 0;
      }
    }

    a {
      justify-content: flex-end;
      width: 70%;

      @include respond(lg) {
        width: 80%;
        font-size: 1.1rem;
      }

      @include respond(md) {
        width: 100%;
      }
    }
  }

  &__stock {
    grid-column: 3 / 5;
    grid-row: 3 / 5;
    margin-bottom: 3rem;

    @include respond(lg) {
      display: none;
    }

    @include respond(xlg) {
      margin-top: 5rem;
    }
  }
}

.footer {
  position: relative;
  width: 100%;
  background-color: #222831;
}

.footer-logo-img {
  width: 10rem;
  height: 10rem;
}

.platform-logo {
  height: 2.5rem;
}

.footer-to-top {
  position: absolute;
  top: -3%;
  left: 50%;
  font-size: 4rem;
  transform: translateX(-50%);
  color: #222831;
  transition: all 0.5s;

  &:hover {
    color: #3dbfd5;
  }

  &::before {
    background-color: white;
    border: 3px solid white;
    border-radius: 50%;
  }
}

.form-control {
  width: 30vw;
  border-radius: 0;

  @include respond(xlg) {
    width: 60vw;
  }

  @include respond(lg) {
    width: 55vw;
  }
  @include respond(sm) {
    width: 80vw;
  }
}

.g-recaptcha {
  display: inline-block;
}
