.card-title-main {
  @include respond(md) {
    font-size: 1.3rem;
    margin-bottom: 0 !important;
  }
}

.card-container {
  display: flex;
  justify-content: space-between;

  @include respond(lg) {
    justify-content: space-around;
  }
}

.card {
  .fas {
    font-size: 3rem;
    display: inline-block;
    background-image: linear-gradient(to right, #3dbfd5, #216370);
    -webkit-background-clip: text;
    color: transparent;

    @include respond(sm) {
      font-size: 3.8rem;
    }
  }

  @include respond(xlg) {
    width: 24%;
  }

  @include respond(lg) {
    margin-top: 2rem;
    width: 50%;
    justify-content: space-between;
  }

  @include respond(md) {
    width: 100%;
    margin: 0 auto;
  }
  @include respond(sm) {
    min-width: 90%;
    margin: 0 auto;
  }
}

.card-text {
  @include respond(md) {
    font-size: 1.1rem;
  }

  @include respond(sm) {
    padding: 2rem;
  }
}

.section-experience {
  display: grid;
  grid-template-columns: 1fr, 1fr, 1fr, 1rem, min-content, min-content;
  grid-template-rows: 1fr, 1fr, min-content, min-content, 1fr, 1fr;
  height: auto;
  grid-gap: 1rem;
  margin-top: 5rem;

  @include respond(lg) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    grid-gap: 0;
  }

  ul {
    list-style-type: none;
  }
}

.work {
  font-weight: 300;
}

.services-title {
  padding: 1rem 0;
  @include respond(lg) {
    font-size: 1.5rem;
    padding: 1.5rem 0;
    margin-top: 2rem;
  }
}
.what-i-do {
  grid-row: 1 / 4;
  grid-column: 1 / 6;
  background-color: #eeeeee;
  color: #494f5a;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.9;
  margin-right: 10rem;
  padding: 3rem 1.5rem;

  ul {
    margin: 0 3rem;

    @include respond(lg) {
      margin: 0 1rem 2rem 1rem;
    }
  }

  @include respond(lg) {
    margin-left: 0;
    margin-right: 0;
    padding: 1.5rem;
    font-size: 1.1rem;
    line-height: 1.7;
  }

  @include respond(md) {
    padding: 0.5rem;
  }
}

.experience {
  grid-row: 3 / 5;
  grid-column: 5 / 7;
  z-index: 3;
  height: 19rem;
  margin-right: 4rem;

  @include respond(lg) {
    width: 100%;
    height: 100%;
    margin-right: 0;
  }
}

.what-i-do-2 {
  background-color: #e8ffff;
  color: #494f5a;
  grid-row: 4 / 7;
  grid-column: 3 / 7;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.9;
  margin-right: 10rem;
  margin-top: 3rem;
  padding: 3rem 1.5rem;

  ul {
    margin: 3rem 3rem 0 3rem;

    @include respond(lg) {
      margin: 2rem 1rem 2rem 1rem;
    }
  }

  @include respond(lg) {
    margin: 0;
    padding: 1.5rem;
    font-size: 1.1rem;
    line-height: 1.7;
  }

  @include respond(md) {
    padding: 0.5rem;
  }
}

// about me
.about-me-box {
  width: 75%;
  position: relative;
  background-color: #eeeeee;
  color: #494f5a;
  margin-right: 10rem;
  padding: 0 4rem 3rem 0;

  @include respond(lg) {
    width: 100%;
    margin: 0;
    padding: 1rem 1rem 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
      @include respond(md) {
        font-size: 1.1rem;
      }
    }
  }
}

.about-me-title {
  @include respond(lg) {
    font-size: 1.5rem;
  }
}
.about-me-text {
  width: 85%;
  @include respond(lg) {
    width: 100%;
  }
}
.about-me-img {
  width: 17rem;
  position: absolute;
  right: -30%;
  top: 50%;
  transform: translate(-50%, -50%);

  @include respond(lg) {
    display: none;
  }
}

.about-me-add {
  @include respond(lg) {
    display: none;
  }
}
