.card {
  .fas {
    font-size: 3rem;
    display: inline-block;
    background-image: linear-gradient(to right, #3dbfd5, #216370);
    -webkit-background-clip: text;
    color: transparent;
  }
}

.section-experience {
  display: grid;
  grid-template-columns: 1fr, 1fr, 1fr, 1rem, min-content, min-content;
  grid-template-rows: 1fr, 1fr, min-content, min-content, 1fr, 1fr;
  height: auto;
  grid-gap: 1rem;
  margin-top: 5rem;

  ul {
    list-style-type: none;
  }
}
.what-i-do {
  grid-row: 1 / 4;
  grid-column: 1 / 6;
  background-color: #eeeeee;
  color: #494f5a;
  margin-left: 15px;
  font-size: 1.2rem;
  font-weight: 400;

  line-height: 1.9;
  margin-right: 10rem;
  padding: 0 4rem 3rem 0;
}

.experience {
  grid-row: 3 / 5;
  grid-column: 5 / 7;
  z-index: 3;
  height: 19rem;
  margin-right: 4rem;
}

.what-i-do-2 {
  background-color: #e8ffff;
  margin-left: 15px;
  font-size: 1.3rem;
  font-weight: 400;
  padding-right: 10%;
  color: #494f5a;
  line-height: 1.9;
  grid-row: 4 / 7;
  grid-column: 3 / 7;
  margin-top: 4rem;
  padding-top: 4rem;
  margin-right: 15px;
}

// about me
.about-me-box {
  width: 75%;
  position: relative;
  background-color: #eeeeee;
  color: #494f5a;
  margin-right: 10rem;
  padding: 0 4rem 3rem 0;
}

.about-me-text {
  width: 85%;
}
.about-me-img {
  width: 17rem;
  position: absolute;
  right: -30%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.worked-with {
  margin-top: 5rem;
}
