.lavolio,
.luvellic {
  display: flex;
  justify-content: flex-end;
  width: 100%;

  @include respond(lg) {
    justify-content: center;
  }
}

.lavolio-text,
.luvellic-text {
  width: 50rem;
  height: auto;
  background-color: #e8ffff;
  position: relative;
  padding: 5rem 5rem 5rem 14rem;
  width: 70%;

  h1 {
    @include respond(md) {
      font-size: 2rem;
    }
  }

  p {
    margin: 3rem 0;
    @include respond(md) {
      font-size: 1.1rem;
      margin: 1.5rem 0;
    }
  }

  @include respond(lg) {
    padding: 2rem;
    width: 100%;
  }
}

.lavolio-img,
.luvellic-img {
  max-width: 20rem;
  position: absolute;
  top: 50%;
  left: -10rem;
  transform: translateY(-50%);

  @include respond(lg) {
    display: none;
  }
}

.btn-portfolio {
  width: 45%;
  font-size: 1rem;

  @include respond(md) {
    font-size: 0.9rem;
    width: 100%;
    margin-bottom: 10px;
  }
}

.salt-sun-text {
  width: 50rem;
  height: auto;
  background-color: #eeeeee;
  position: relative;
  padding: 5rem 14rem 5rem 5rem;
  width: 70%;

  h1 {
    @include respond(md) {
      font-size: 2rem;
    }
  }

  p {
    margin: 3rem 0;
    @include respond(md) {
      font-size: 1.1rem;
      margin: 1.5rem 0;
    }
  }

  @include respond(lg) {
    padding: 2rem;
    width: 100%;
  }
}
.salt-sun-img {
  max-width: 20rem;
  position: absolute;
  top: 50%;
  right: -10rem;
  transform: translateY(-50%);

  @include respond(lg) {
    display: none;
  }
}
