/////////////////////////////////////////////////////////

// CAROUSEL

#carouselExampleControls {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #222831;

  @include respond(lg) {
    width: 45rem;
  }
  @include respond(md) {
    width: 35rem;
  }
  @include respond(sm) {
    width: 100%;
  }
}

.testimonials {
  padding: 5rem 0;

  @include respond(lg) {
    padding: 0;
    margin: 2rem 0;
    background-image: linear-gradient(
        to bottom,
        rgba(168, 251, 255, 0.7),
        rgba(168, 251, 255, 0.7)
      ),
      url(/img/pages.jpg);
  }
}

.carousel-container {
  width: 100%;
  height: 30rem;
  background-image: linear-gradient(
      to bottom,
      rgba(168, 251, 255, 0.7),
      rgba(168, 251, 255, 0.7)
    ),
    url(/img/pages.jpg);
  background-size: cover;
  position: relative;

  @include respond(lg) {
    background-image: none;
    padding: 2rem;
    height: 20rem;
  }
}

.carousel-inner {
  width: 55rem;
  height: 16rem;
  background-color: white;

  @include respond(lg) {
    width: auto;
    max-height: 100%;
  }

  &__testimonial {
    display: flex;
    justify-content: center;
    transition: all 0.2s;
  }
}

.rating {
  .fa-star {
    font-size: 0.8rem;
    color: 222831;
  }
}

/////////////////////////////////////////////////////////

// QUOTES

.quote {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;

  p {
    font-size: 1.4rem;

    @include respond(lg) {
      font-weight: 300;
      font-size: 1.1rem;
      padding: 0 1rem 1rem 1rem;
    }

    @include respond(md) {
      padding: 0;
    }
  }
}

.quote-2 {
  padding: 1.2rem;

  @include respond(lg) {
    padding: 0.7rem;
  }

  @include respond(md) {
    padding: 0.4rem;
  }

  p {
    padding-left: 6rem;
    padding-right: 6rem;

    @include respond(md) {
      padding: 1.5rem 4rem;
    }

    @include respond(sm) {
      padding: 0.5rem 4rem;
    }
  }
}

/////////////////////////////////////////////////////////

// DATE

.date {
  padding-left: 0.5rem;
  color: #747e8f;
  font-size: 0.9rem;

  @include respond(lg) {
    font-size: 0.8rem;
    padding-left: 0;
  }
}

/////////////////////////////////////////////////////////

// UPWORK LINK STYLING

.upwork {
  img {
    width: 6rem;
    @include respond(lg) {
      width: 4.5rem;
      padding-bottom: 10px;
    }
  }
}

.upwork-reviews {
  transform: scale(1.5);
}

/////////////////////////////////////////////////////////

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='222831' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;

  @include respond(lg) {
    display: none;
  }
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='222831' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;

  @include respond(lg) {
    display: none;
  }
}

/////////////////////////////////////////////////////////

// DELITING PART OF A LONG QUOTE / ADDING "

.carousel-sm-hide {
  @include respond(md) {
    display: none;
  }
}

.carousel-sm-show {
  display: none;
  @include respond(md) {
    display: inline;
  }
}

/////////////////////////////////////////////////////////
