.worked-with {
  height: auto;
  background-color: #298ea0;
  display: flex;
  justify-content: center;
  margin-top: 5rem;

  @include respond(lg) {
    margin-top: 0;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
